body{
    background: url("/images/background.jpg") fixed no-repeat left top;
    background-size: cover;
    font-family: 'Prompt', sans-serif;
    color: #213152;
    -webkit-user-select: none;
    font-size: 20px;
}
header{
    background: url("/images/logo2.png") no-repeat center center;
    height: 190px;
    width: 150px;
    background-size: cover;
    position: fixed;
    top: 3%;
    left: 5%;
    z-index: 2;
}

main{
    overflow: hidden;
    min-height: 1080px;
    min-width: 750px;
    width:60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    background-color:#EBF2F9;
    border: solid 2px #9EAFC9;

}

#mainHeader{
    font-size: 50px;
    padding-left: 10px;
}
#folders {
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
#files {
    padding-left: 42px;
    padding-right: 10px;
    padding-bottom: 10px;
}
li{
    padding-left: 40px;
    list-style: none;
    color: #213152;
}
a{
    width :92%;
    overflow:hidden;
    display:inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: groove 1px #9EAFC9;
}
a:hover{
    transition-duration: 0.2s;
    color:#9EAFC9;
    border-color: #213152;
    cursor: pointer;
}
.fileSize{
    font-size: 15px;
    float: right;
    text-align: center;
    width: 8%;
    overflow:hidden;
    display:inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#folders li{
    height: 70px;
    line-height: 70px;
    background: url('/images/folder_32.png') no-repeat left;
}
#upDirectory li{
    height: 70px;
    line-height: 70px;

    background: url('/images/file_32.png') no-repeat left;
}
#files li{
    height: 50px;
    line-height: 50px;
    background: url('/images/download.png') no-repeat left;
}
.optionBar {
    margin: 10px 50px 50px;
}
.optionBar li{
    float:left;
    padding-right: 10px;
    font-size: 15px;
    line-height: 24px;
}

.optionBar a{
    overflow: visible;
}
#downloadFolder{
    padding-left: 29px;
    background: url('/images/folder_download_24.png') no-repeat left;
}
#deleteFolder{
    padding-left: 29px;
    background: url('/images/folder_delete_24.png') no-repeat left;
}
#addFolder{
    padding-left: 29px;
    background: url('/images/folder_add_24.png') no-repeat left;
}
#uploadFile{
    float: right;
    padding-left: 29px;
    background: url('/images/upload.png') no-repeat left;
}
#uploadButton{
    float: right;
    padding-left: 10px;
}


button{
    float: left;
    color:#EBF2F9;
    font-size: 15px;
    text-decoration:none;
    background-color: #213152;
    border-style: none;
    height:30px;
    width:160px;
}
button:hover{
    cursor: pointer;
    transition-duration: 0.2s;
    color:#213152;
    background: #EBF2F9;
    border: solid 1px #9EAFC9;
}

footer{
    opacity: 0.6;
    font-size: 20px;
    color: whitesmoke;
    position: fixed;
    bottom: 0;
    right: 5px;
    word-break: keep-all;
    max-width: 15%;
    z-index: -1;
}
@media only screen and (max-width:1080px) {
    body{
        font-size: 35px
    }
    #padTop{
        position: fixed;
        top:0;
        left:0;
        width: 100%;
        height: 260px;
        z-index: 1;
        background: url("/images/background.jpg")  center top;
    }
    main{
        width:98%;
        min-height: 780px;
        margin: 260px 1% 80px;
    }
    #folders li{
        height: 80px;
        line-height: 80px;
    }
    #upDirectory li{
        height: 80px;
        line-height: 80px;
    }
    #files li{
        height: 60px;
        line-height: 60px;
    }
    footer{
        right:2%;
        align: center;
        max-width: 100%;
        word-break: keep-all;
    }

}